@media screen and (max-width: 819px){
	.header{
		width: 100%;
		height: 20vmin;
		font-family: 'Roboto', sans-serif;
	}
	.title-game{
		margin: 3vmin;
		color: rgba(168, 233, 175, 1);
		font-weight: bolder;
		font-size: 10vmin;
		text-align: center;
	}
	.container-body{
		width: 90%;
		position: absolute;
		left: 5%;
		top: 33vmin;
	}
	.row-cards{
		justify-content: space-around;
		width: 100%;
	}
	.cards{
		width: 45vmin;
        height: 47vmin;
		margin: 2%;
		margin-left: 22%;
        position: relative;
		cursor: pointer;
	}
	.single-card {
        width: 100%;
        height: 100%;
        background-color: rgba(168, 233, 175, 1);
        border-radius: 3vmin;
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
        display: flex;
        position: absolute;
        backface-visibility: hidden;
        transition: all 0.5s;
        transform-style: preserve-3d;
      }
	  .prohibited{
		  cursor: not-allowed;
	  }
}